{% extends "home/base2.html" %}

{% block supersection %}
<ul>
<li><a href="/stories/1">Empress Sophia of Brouliard</a></li>
<li><a href="/stories/2">Blah blah</a></li>
<li><a href="/stories/3">Asger the Nessian Warrior</a></li>
<li><a href="/stories/4">Vaghuul the Cleaving Blade</a></li>
<li><a href="/stories/5">Examples of Play 1</a></li>
<li><a href="/stories/6">Examples of Play 2</a></li>
<li><a href="/stories/7">Examples of Play 3</a></li>
<li><a href="/stories/8">Examples of Play 4</a></li>
<li><a href="/stories/9">Examples of Play 5</a></li>
</ul>
{% endblock %}
